<html lang='en'>
<head>
  <meta charset='utf-8'>
  <script src='../static/client.js'></script>
  <link rel="Stylesheet" type="text/css" href="../static/utils/cropping-tool/croppie-style.css"></link>
  <link rel='stylesheet' href='../static/style.css'>
  <script src="../static/utils/cropping-tool/croppie.js"></script>
  <script src="../static/utils/cropping-tool/cropperElement.js" defer></script>
</head>
<body>
  <div>
    <div class='center'>
      <h2 class='title'></h2>
      <p>
        
      </p>
      <dialog id="result-modal"><img id="result-image" alt="" class="result-image" ></dialog>
      <div class='content'>
        <div class='no-display'>
          <input id='file-input'
          class='no-display'
          type='file'
          name='file'
          accept='image/*'
          onchange='showPicked(this)'>
      </div>
      
      <button class='choose-file-button' type='button' onclick='showPicker()'>Load Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No image chosen</label>
      </div>
      <div id="image"></div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label' class='no-display'></label>
      </div>
    </div>
    
  </div>
</div>
</body>
</html>
